---
import Layout from '../layouts/Layout.astro';
import getStatsById from "../hooks/getStats.js"
const { name } = Astro.params

const query = `
    query pokemon_details($name: String) {
      species: pokemon_v2_pokemonspecies(where: {name: {_eq: $name}}) {
        name
        id
      }
    }
  `

const response = await fetch(
	"https://beta.pokeapi.co/graphql/v1beta",
	{
		method: "POST",
		body: JSON.stringify({
		query,
		variables: {name},
		operationName: "pokemon_details"
		})
	}
);
const pokedex = await response.json();
const pokemon = pokedex.data.species[0];

const moves = await getStatsById(pokemon.id)
---

<Layout title={pokemon.name}>
	<main>
    <div class="pokemon-container">
      <h1> Pokemon: #{pokemon.id} - {pokemon.name} </h1>
      <img src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`/>
      <ul class="move-list">
        {moves.map((move) => {
          return (<li> {move.pokemon_v2_stat.name}: {move.base_stat} </li>)
        })}
      </ul>
    </div>
	</main>
</Layout>

<style>
  main {
    margin-top: 200px;
  }

  .pokemon-container {
    display: flex;
    justify-content: center;
    max-width: 256px;
    margin: auto;
    padding: 25px;
    border: 8px solid pink;
    border-radius: 30px;
    flex-wrap: wrap;
    background-color: rgb(246, 246, 148);
  }
  
  h1 {
    color: rgb(222, 113, 184);
  }

  img {
    width: 100%;
  }

  .move-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-left: 0;
    margin: 0;
  }
</style>
